body {
    margin-top: 100px;
    line-height: normal;
}

.button-menu {

}

.hero {
    margin-top: 30px;
}

h2 {
    font-size: large;
    font-weight: bold;
}

.l-section {
    padding: 70px 0;
}

.footer {
    margin-top: 70px;
}